<ion-header>
  <ion-toolbar>
    <ion-title align="center"> {{comida.nombre}} </ion-title>
  </ion-toolbar>
</ion-header>
<!--Codigo de la card que contiene la informacion de un solo producto-->
<ion-content [fullscreen]="true">
  <div class="card-group" align="center">
    <div class="card">
      <div class="row">
        <div class="col-12">
          <br />
          <img src="{{comida.imagen}}" alt="imagen" />
          <h5 class="card-title" style="font-size: 40px">{{comida.nombre}}</h5>
          <p>{{comida.descripcion}}</p>
          <h4>Ingredientes</h4>
          <p>{{comida.ingredientes}}</p>
          <span class="badge badge-warning badge-pill" style="font-size: 20px"
            >${{comida.precio}}</span
          >
        </div>
      </div>
      <div>
        <br />
        <!--Funcion para seleccionar la cantidad de el producto a elegir-->
        <select [(ngModel)]="model.cantidad" class="form-control">
          <option selected value disabled>Cantidad</option>
          <option selected *ngFor="let i of index;" [value]="i">{{i}}</option>
        </select>
        <br />
        <div>
          <ion-button
            color="success"
            shape="round"
            size="small"
            (click)="agregar(model.cantidad)"
            >Añadir producto</ion-button
          >
        </div>
      </div>
    </div>
  </div>
</ion-content>
