.img {
    height: 550px;
    width: auto;
    object-fit: cover;
}

.card {
    padding: auto;
    height: auto;
}

.par {
    color: rgb(0, 0, 0) !important;
    font-size: 15px;
}

.tit {
    text-align: center;
}